.markItUp * {
    margin: 0;
    outline: medium none;
    padding: 0;
}
.markItUp a:link, .markItUp a:visited {
    color: #000;
    text-decoration: none;
}
.markItUp {
    border: 1px solid #999;
    margin: 0;
    width: 21.63cm;
}
.markItUpContainer {
    background: #f5f5ff none repeat scroll 0 0;
    font: 11px Verdana,Arial,Helvetica,sans-serif;
    padding: 2px 0;
}
.markItUpEditor {
    border: 1px solid gray;
    clear: both;
    font: 10pt/18px "Courier New",Courier,monospace;
    height: 3cm;
    overflow: auto;
    padding: 5px;
    width: 21.6cm;
}
.markItUpPreviewFrame {
    background-color: #ffffff;
    border: 1px solid #3c769d;
    height: 300px;
    margin: 5px 0;
    overflow: auto;
    width: 99.9%;
}
.markItUpFooter {
    cursor: n-resize;
    width: 100%;
}
.markItUpResizeHandle {
    background-image: url("../images/handle.png");
    cursor: n-resize;
    height: 5px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 22px;
}
.markItUpHeader ul li {
    float: left;
    list-style: outside none none;
    position: relative;
}
.markItUpHeader ul {
    margin-left: 100px;
}
.markItUpHeader ul li ul {
    display: none;
}
.markItUpHeader ul li:hover > ul {
    display: block;
}
.markItUpHeader ul .markItUpDropMenu {
    background: transparent url("../images/menu.png") no-repeat scroll 115% 50%;
    margin-right: 5px;
}
.markItUpHeader ul .markItUpDropMenu li {
    margin-right: 0;
}
.markItUpHeader ul .markItUpSeparator {
    background-color: #ccc;
    height: 16px;
    margin: 4px 10px;
    overflow: hidden;
    width: 1px;
}
.markItUpHeader ul ul .markItUpSeparator {
    height: 1px;
    margin: 0;
    width: auto;
}
.markItUpHeader ul ul {
    background: #f5f5f5 none repeat scroll 0 0;
    border: 1px solid #3c769d;
    display: none;
    height: inherit;
    left: 0;
    position: absolute;
    top: 18px;
}
.markItUpHeader ul ul li {
    border-bottom: 1px solid #3c769d;
    float: none;
}
.markItUpHeader ul ul .markItUpDropMenu {
    background: #f5f5f5 url("../images/submenu.png") no-repeat scroll 100% 50%;
}
.markItUpHeader ul ul ul {
    left: 150px;
    position: absolute;
    top: -1px;
}
.markItUpHeader ul ul ul li {
    float: none;
}
.markItUpHeader ul a {
    background-repeat: no-repeat;
    display: block;
    height: 16px;
    margin: 4px 6px;
    padding: 3px;
    text-indent: -10000px;
    width: 16px;
}
.markItUpHeader ul ul a {
    background-position: 2px 50%;
    display: block;
    padding: 5px 5px 5px 25px;
    text-indent: 0;
    width: 120px;
}
.markItUpHeader ul ul a:hover {
    background-color: #3c769d;
    color: #fff;
}
.html .markItUpEditor {
    background-image: url("../images/bg-editor-html.png");
}
.markdown .markItUpEditor {
    background-image: url("../images/bg-editor-markdown.png");
}
.textile .markItUpEditor {
    background-image: url("../images/bg-editor-textile.png");
}
.bbcode .markItUpEditor {
    background-image: url("../images/bg-editor-bbcode.png");
}
.wiki .markItUpEditor, .dotclear .markItUpEditor {
    background-image: url("../images/bg-editor-wiki.png");
}
.markItUp .markItUpButton1 a {
    background-image: url("../images/h1.png");
}
.markItUp .markItUpButton2 a {
    background-image: url("../images/h2.png");
}
.markItUp .markItUpButton3 a {
    background-image: url("../images/h3.png");
}
.markItUp .markItUpButton4 a {
    background-image: url("../images/h4.png");
}
.markItUp .markItUpButton5 a {
    background-image: url("../images/h5.png");
}
.markItUp .markItUpButton6 a {
    background-image: url("../images/h6.png");
}
.markItUp .markItUpButton7 a {
    background-image: url("../images/bold.png");
}
.markItUp .markItUpButton8 a {
    background-image: url("../images/italic.png");
}
.markItUp .markItUpButton9 a {
    background-image: url("../images/list-bullet.png");
}
.markItUp .markItUpButton10 a {
    background-image: url("../images/list-numeric.png");
}

.markItUp .markItUpButton11 a {
    background-image: url("../images/link.png");
}
.markItUp .markItUpButton12 a {
    background-image: url("../images/quotes.png");
}
.markItUp .markItUpButton13 a {
    background-image: url("../images/code.png");
}
/*.markItUp .preview a {
    background-image: url("../images/preview.png");
}*/
.markItUp .markItUpButton14 a {
    background-image: url("../images/picture.png");
}