/******* GENERAL RESET *******/  
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,  
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,  
tfoot, thead, tr, th, td {  
    border:0px none;  
    font-family:inherit;  
    font-size:100%;  
    font-style:inherit;  
    font-weight:inherit;  
    margin:0px;  
    padding:0px;  
} 
html{ height: 100%; }
body{
    background: #eeeef1;
    font: 11px  "Segoe UI", "Tahoma", "Calibri", arial, sans-serif ;
    color: black;
    width: 100%;
    min-height: 100%;
}
/******* Contendor **********/
#contenedorPrincipal{ width: 90%; min-width: 1150px; margin: 0px auto; border-right: 1px solid #d4d4d4; padding: 0px; }
#contenedorFrontal {   
    background: #fff;
    padding:  5px 10px ;
    margin: 0px auto;
    height: 100%;
    min-height:36em;
}
/**** PIE ****/
#pie {
    width: 100%;
    background: #eeeef1;
    color: #555;
    padding: 20px;
    margin: 0 auto;
    border-top: solid 1px #ccc;
} 
/**** CABECERA ****/ 

#cabecera{
    background-image:url('../Imagenes/cabecera.gif');
    width: 100%;
    background-repeat:repeat-x;
    height: 56px;
    color: #fff;
    border-bottom: 1px solid #666;
    min-width: 1150px;
}
#tituloSistema {
    position: absolute;
    top: 13px;
    left: 120px;
    width: 500px;
    font-weight: bold;
    text-align: left;
    font-family: "Arial", "Calibri", "Tahoma";
    font-size: 15px;
    color: #475767;
    font-style:italic;
    z-index:100;
    /*    font-variant:small-caps;*/
}

#tituloSesion{
    margin: 5px 15px; 
}


#tituloSesion a{
    font-family:"Segoe UI", "Calibri", "Tahoma";
    font-size: 11px;
    font-weight: bold;
    color: #944;}

#tituloSesion td #linkUsuario{ color: darkgreen;}

/**** MENU ****/





#menuLateralIzquierdo a {color: #074984; display:block; text-decoration:none; 
                         background-color: #dfeffa; margin: 1px; padding: 5px 20px;}
#menuLateralIzquierdo a:hover {color: #FFFFFF; background-color:#789; padding: 5px 20px 4px 20px;border-bottom: #ffffff solid 1px;} /* #2f3030*/
#menuLateralIzquierdo a:active {color: #bbb}

#menuLateralIzquierdo ul {margin: 0px; padding: 0px; list-style: none}
#menuLateralIzquierdo p {color: #074984; font-weight: bold; font-size:10px; padding: 5px;}
#menuLateralIzquierdo{ width: 170px; height: 100%; background: #a5b9c6;}

#menu2 {
    border-bottom: 1px #A6AF7A inset;
    padding: 8px 0;
    margin-bottom: 20px;
}
#menu2 ul li{
    display: inline;
    padding: 0 7px 0 0; /*Separar el texto*/
    margin:5px;
}

/**** CONTENIDOS ****/


a, a:visited {
    color:midnightblue;
    text-decoration:none;
}
a:hover {
    color: #FF6600;
    text-decoration:none;
}


/**** TABLAS ****/

.grid {
    border: 2px #4D6C9F solid;
    border-collapse:collapse; font-size: 11px;

}
.grid th {
    background-color:#4D6C9F;/*#26406d;*/
    padding: 5px;
    color:white;
    height: 29px;
    border-color: white; 
    font-weight: bold;
}
.grid td {
    padding: 4px 8px 4px 8px;
    border-width: 1px;
    border-style: inset;
    border-color: gray;
}
.grid tr:hover {
    background-color: #E0FAC5;
}




.grid-row {
    background-color: White;
}
.grid-selected, .grid-edit {
    background-color:#CCCCCC;
}
.grid-alternate-row {
    background-color:#E4E7DB;/*#C6D8C6*/
}

.grid-footer {
    height: 31px;
}
.grid-pager {
    background-color: #9CBBCD;/*#B5B591;*/
    height: 31px;
}


/*********** TABLAS de SELECCIONES DE VARIOS ELEMENTOS */
table.gridVarios {
    border: 1px #4D6C9F solid;
    border-collapse:collapse; font-size: 11px;
    border-radius:  5px;
    margin: 0 auto;

}
.gridVarios th {
    background-color:#e1e9ef;/*#26406d;*/
    padding: 2px;
    color:#446;
    border: grey solid 1px; 
    font-weight: bold;
}
.gridVarios td {
    padding: 1px 2px ;
    border-width: 1px;
    border-style: inset;
    border-color: gray;
}
.gridVarios tr:hover {
    background-color: #e5e5ff;/*#E0FAC5;*/
}

.gridDetalle {    border-collapse:collapse;     font-size: 11px;}
.gridDetalle td {  
    padding: 1px 4px ;
    border: 0px;    
    margin: 0;
}
.gridDetalle tr{
    border-bottom: 1px solid gray;
}


fieldset { 
    border:1px solid #aaa;
    border-radius: 8px;
    padding: 5px ;}

legend {
    margin-left: 20px;
    padding: 5px 10px;
    font-weight: bold ;
    text-align:right;
}

/**** INPUTS ****/
input, select, ul, ol, table, textarea
{
    font: 12px  "Segoe UI", "Tahoma", "Calibri", arial, sans-serif ;
    color:black;
    font-variant:normal;
    font-style:normal;
    margin-left: 0px;
    border-radius: 5px;
}

input[type="text"], input[type="password"]{
    width : 190px;
    height: 18px;
    padding : 1px 3px 1px 8px;
    border: 1px solid #6487BC; 
}
select{
    width : 200px;
    padding : 1px 3px 1px 8px;
    border: 1px solid #6487BC;     
}
input[type="text"]:focus, input[type="password"]:focus, select:focus, textarea:focus {
    border: 1px solid #12407f; /* 2px solid #7ac;*/
    background-color: #ffffbb;
}



textarea
{ 
    overflow-y: scroll;
    width : 190px;

    padding : 1px 3px 1px 8px;
    border: 1px solid #6487BC; 
}

input[readonly], input[readonly="readonly"], textarea[readonly], textarea[readonly="readonly"],
select[readonly], select[readonly="readonly"]
{
    background: #e6e6f6;
}
input[readonly]:focus, input[readonly="readonly"]:focus, textarea[readonly]:focus, textarea[readonly="readonly"]:focus,
select[readonly]:focus, select[readonly="readonly"]:focus
{
    background: #e6e6f6;
}

/********************** MULTISELECT **********************************/
.multiselect {
    width:400px;
    height:200px;
    padding: 5px 0;
    border:solid 1px #6487BC;
    border-radius: 6px;
    border-bottom-left-radius: 0px;
    overflow:auto;
}

.multiselect > label{ display:block; padding: 1px 20px; border-bottom: 1px solid #eee;  }
.multiselect > label:hover {  border-bottom: 1px solid #c5c5ff; color: inherit; font-weight: bold; background-color: #e6e1ff}
.multiselect + textArea {
    width:392px; height:50px;  
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin:  0px;
    border-color: #6487BC;
}
.multiselect-on {
    font-weight: bold;
    color:#ffffff;
    background-color:#6D8CbF;
}



.info-fecha, .info-usuario, .info-rol {
    background: url('../Imagenes/Iconos/iconset.png') no-repeat;
    height: 18px;
    width: 20px;
}

.info-fecha {
    background-position: 0 -45px;

}
.info-usuario {
    background-position: 0 -5px;

}
.info-rol {
    background-position: 0 -25px;
}

.cerrarSesion{
    background: url('../Imagenes/Iconos/cerrarSesion.png') no-repeat;
    height: 20px;
    padding: 0 20px;
}


/*+++++++  dentro de etadisticas */
#estadistica input[type="text"]{
    width : 10em;
    padding : 0em;
    border: 1px solid #6487BC; 
}
#estadistica select{
    width : 11em;
    padding : 0em;
    border: 1px solid #6487BC;     
}
#estadistica input[type="text"]:focus, #estadistica select:focus {
    border: 2px solid #12407f; /* 2px solid #7ac;*/
    background: #fFd;
}



#estadistica input, #estadistica select, #estadistica ul, #estadistica ol, #estadistica table, #estadistica textarea
{
    font: 11px  "Segoe UI", "Tahoma", "Calibri", arial, sans-serif ;
    color:black;
    font-variant:normal;
    font-style:normal;
    margin-left: 0px;
}

#estadistica textarea{ 
    resize:none; 
    border: 1px solid #6487BC;}

/**** CLASES ***********************/
.etiquetaGuia{font-size: 10px; color: green;}
.etiquetaError{font-size: 10px; color: orangered;}



.btn
{
    min-height: 25px;
    background-color: #6487BC;
    border: 1px #4D6C9F solid;
    border-bottom: 1px  #324569 solid;
    border-right: 1px #324569 solid;
    color:white;
    margin-left: 0px;
    font-family: "Segoe UI", "Calibri", "Tahoma";
    font-size:12px;
    font-weight: bold;
    text-decoration: none;    
}

.btn:hover
{
    /*	color: #383A58;*/
    color:white;
    border: 1px darkblue solid; /*#C5C5A9*/
    /*    border-top:1px  #324569 solid;
        border-left:1px  #324569 solid;*/
    background-color: #7497cC;
    font-family: "Segoe UI", "Calibri", "Tahoma";
}

.btn2, .btn2:hover
{
    min-height: 20px;
    background-color: #cbe5ff;
    border: 1px #4D6C9F solid;
    border-bottom: 1px  #324569 solid;
    border-right: 1px #324569 solid;
    color: #1F456C;
    margin-left: 0px;
    font-family: "Segoe UI", "Calibri", "Tahoma";
    font-size:12px;
    font-weight: bold;
    text-decoration: none;    
}

.btn2:hover
{
    color:#1F456C;
    border: 1px darkblue solid; /*#C5C5A9*/
    /*    border-top:1px  #324569 solid;
        border-left:1px  #324569 solid;*/
    background-color: #dbf5ff;
    font-family: "Segoe UI", "Calibri", "Tahoma";
}

.btnAceptar, .btnCancelar, .btnGuardar, .btnAdicionar, .btnQuitar  
, .grid .btnAceptar, .grid .btnCancelar, .grid .btnGuardar, .grid .btnAdicionar, .grid .btnQuitar, 
.btnEditar, .btnSeleccionar, .btnSiguiente, .btnAnterior, .btnProcesar, .btnMostrarPie, .btnMostrarBarra, .btnMostrarHisto, .btnBuscar, .btnVerReporte, .btnExportar, .btnCrearNuevo
,.grid .btnEditar, .grid .btnSeleccionar, .grid .btnSiguiente, .grid .btnAnterior, .grid .btnProcesar, 
.grid .btnMostrarPie, .grid .btnMostrarBarra, .grid .btnMostrarHisto, .grid .btnBuscar, .grid .btnVerReporte, 
.grid .btnExportar, .grid .btnCrearNuevo,
.btnPC, .btnHome, .btnImprimir, .btnIngresar, .btnRojo, .btnVerde, .btnAzul, .btnNuevo,
.btnExportar2, .btnDescargar, .btnGuardarComo
{ background-repeat: no-repeat;
  padding: 0px 5px 0px 20px;

}


.btnAceptar, .btnCancelar, .btnGuardar, .btnAdicionar, .btnQuitar  
, .grid .btnAceptar, .grid .btnCancelar, .grid .btnGuardar, .grid .btnAdicionar, .grid .btnQuitar {
    background-image: url('../Imagenes/Iconos/btn-icn3.gif');    
}
.btnAceptar {
    background-position: 0 -24px;
}
.btnCancelar {
    background-position: 0 0;
}
.btnGuardar {
    background-position: 0 -50px;
}
.btnAdicionar {
    background-position: 0 -77px;
}
.btnQuitar {
    background-position: 0 -100px;
}
.btnEditar, .btnSeleccionar, .btnSiguiente, .btnAnterior, .btnProcesar, .btnMostrarPie, .btnMostrarBarra, .btnMostrarHisto, .btnBuscar, .btnVerReporte, .btnExportar, .btnCrearNuevo
,.grid .btnEditar, .grid .btnSeleccionar, .grid .btnSiguiente, .grid .btnAnterior, .grid .btnProcesar, 
.grid .btnMostrarPie, .grid .btnMostrarBarra, .grid .btnMostrarHisto, .grid .btnBuscar, .grid .btnVerReporte, 
.grid .btnExportar, .grid .btnCrearNuevo {
    background-image: url('../Imagenes/Iconos/btn-icn.gif');
}
.btnEditar {
    background-position: 0 2px;
}
.btnSeleccionar {
    background-position: 0 -115px;
}
.btnSiguiente {
    background-position: 0 -118px;
}
.btnAnterior {
    background-position: 0 -141px;
}
.btnProcesar {
    background-position: 0 -95px;
}
.btnMostrarPie {
    background-position: 0 -24px;
}
.btnMostrarHisto {
    background-position: 0 -163px;
}
.btnMostrarBarra {
    background-position: 0 -186px;
}
.btnBuscar {
    background-position: 0 -208px;
}
.btnVerReporte {
    background-position: 0 -251px;
}
.btnExportar {
    background-position: 0 -269px;
}
.btnCrearNuevo {
    background-position: 0 -291px;
}
.linkLogin
{
    background-image: url('../Imagenes/Iconos/btn-icn2.gif');
    background-repeat: no-repeat;
    background-position: 0 -240px;
    padding: 5px 8px 5px 8px;
    padding-left: 18px;
    font-family: "Segoe UI", "Calibri", "Tahoma";
    font-size:11px;
    color:#383A58;
    text-decoration: underline;
}

.btnPC, .btnHome, .btnImprimir, .btnIngresar, .btnRojo, .btnVerde, .btnAzul, .btnNuevo {
    background-image: url('../Imagenes/Iconos/btn-icn2.gif');
}
.btnPC {
    background-position: 0 1px;
}
.btnHome {
    background-position: 0 -20px;
}
.btnImprimir {
    background-position: 0 -116px;
}
.btnIngresar {
    background-position: 0 -240px;
}
.btnRojo {
    background-position: 0 -165px;
}
.btnVerde {
    background-position: 0 -188px;
}
.btnAzul {
    background-position: 0 -214px;
}
.btnNuevo {
    background-position: 0 -142px;
}

.btnExportar2, .btnDescargar, .btnGuardarComo
{
    background-image: url('../Imagenes/Iconos/btn-icn4.gif');
}

.btnExportar2
{
    background-position: 0 -92px;
}

.btnDescargar
{
    background-position: 0 -51px;
}

.btnGuardarComo
{
    background-position: 0 0;
}

.icnEliminar, .icnVer, .icnArchivo, .icnArchivoExcel, .icnArchivoWord, 
.icnArchivoPDF, .icnArchivoImagen,
.icnLedRojo, .icnLedAmarillo, .icnLedVerde, .icnLedAzul, .icnLedGris, .icnLedNegro{
    padding: 1px 4px 4px 25px;
    height: 20px;

    background-repeat: no-repeat;

}

.icnEliminar { background-image: url('../Imagenes/Iconos/eliminar.gif'); background-position: 5px 1px; }
.icnVer { background-image: url('../Imagenes/Iconos/ver.gif'); background-position: 5px 1px; }
.icnArchivo{ background-image: url('../Imagenes/Iconos/file.gif'); }
.icnArchivoExcel{ background-image: url('../Imagenes/Iconos/fileExcel.gif'); }
.icnArchivoWord{ background-image: url('../Imagenes/Iconos/fileWord.gif'); }
.icnArchivoPDF{ background-image: url('../Imagenes/Iconos/filePDF.gif'); }
.icnArchivoImagen{ background-image: url('../Imagenes/Iconos/fileImagen.gif'); }
.icnLedRojo{background-image: url('../Imagenes/Iconos/led-01.png'); }
.icnLedAmarillo{background-image: url('../Imagenes/Iconos/led-02.png'); }
.icnLedVerde{background-image: url('../Imagenes/Iconos/led-03.png'); }
.icnLedAzul{background-image: url('../Imagenes/Iconos/led-04.png'); }
.icnLedGris{background-image: url('../Imagenes/Iconos/led-05.png'); }
.icnLedNegro{background-image: url('../Imagenes/Iconos/led-06.png'); }

/**** Títulos ****/
h1, h2, h3 {
    font-family: "Segoe UI Semibold", "Calibri", Tahoma;

    /*border-radius: 8px;*/

}
h1 {
    font-weight: normal;
    margin: 10px 0 15px 0;
    height: 30px;
    text-indent: 20px;
    font-size: 16pt;
    color:#00699B;/*#00699B;*/
    border-bottom: 1px #A6AF7A inset;
}
h2 {
    padding:5px 0 0 0;
    font-size: 12pt;
    color:#004080;
    /*border-bottom: 1px #A6AF7A inset;*/       
}
h3 {
    padding:5px 0 0 0;
    font-size: 12pt;
    color:#4D6C9F;
    /*border-bottom: thin #BFC69F ;*/
}
h4 {
    font-size: 12pt;
    font-style: italic;
    color: #002953; 
}	
h5 {
    font-size: 10pt;
    font-weight:normal;
    font-style:normal;
    color:#002953;
}




/*** MENSAJES ***/

.exito, .informacion, .error, .pregunta, .alerta, 
.exitoBlanco, .errorBlanco, .informacionBlanco, .preguntaBlanco, .alertaBlanco 
{
    font-family: "SegoeUI", "Calibri", "Tahoma";
    font-size: 10pt;
    background-repeat: no-repeat;
    margin: 20px;
    padding:10px 10px 10px 45px;
    background-color: Transparent; 
    width: 50%;
    min-height: 40px;
    height: auto;
    border-radius: 8px;
}
.exito{	border: 1px #169126 solid; background-color: #f6fff6}
.exito, .exitoBlanco {
    background-image: url('../Imagenes/Iconos/msgExito.png');
    background-position: 5px 10px;
    color: #169126;
}

.informacion{  border: 1px #4564A6 solid; background-color: #f6f6ff}
.informacion, .informacionBlanco {
    background-image: url('../Imagenes/Iconos/msgInformacion.png');
    background-position: 5px 10px;
    color: #4564A6;	
}

.error{border: 1px #CC0000 solid; background-color: #fff6f6}
.error, .errorBlanco  {
    background-image: url('../Imagenes/Iconos/msgError.png');
    background-position: 5px 10px;
    color:#CC0000;		
}

.pregunta {	border: 1px #4564A6 solid; background-color: #f6f6ff}
.pregunta, .preguntaBlanco{
    background-image: url('../Imagenes/Iconos/msgPregunta.png'); 
    background-position: 5px 10px;
    color: #4564A6;
}

.alerta{	border: 1px orange solid;  background-color: #fffff6}
.alerta, .alertaBlanco
{
    background-image: url('../Imagenes/Iconos/msgAlerta.png');
    background-position: 5px 10px;
    color: Orange;
}

.xRojo, .xAmarillo, .xVerde, .xNegro, .xPlomo
{
    padding: 1px 5px 1px 20px;
    background-image: url('../Imagenes/Iconos/iconos03.png');
    background-repeat: no-repeat;
}
.xRojo{ background-position: 0 0px;}
.xAmarillo{ background-position: 0 -26px;}
.xVerde{ background-position: 0 -63px;}
.xNegro{ background-position: 0 -96px;}
.xPlomo{ background-position: 0 -123px;}



table.tableizer-table {
    border: 1px solid #CCC ; border-collapse:collapse; border-spacing: 0; font-family: Arial, Helvetica, sans-serif; font-size: 9px; 
} 
.tableizer-table td {
    padding: 4px; margin: 3px; border: 1px solid #ccc; text-align: center;
}
.tableizer-table th {
    background-color: #1F456C; color: #FFF; border: 1px solid #ccc; font-weight: bold; text-align: center;
}

.listaItemsTitulos li{
    padding: 2px; font-size: 1.3em; cursor:pointer;
}
.listaItems li{
    padding: 2px; margin: 0 0 0 100px; font-size: 1.1em;
}

.obligatorio, .necesario {}

td.obligatorio, div.obligatorio, label.obligatorio{
    /*background: #fff0e0;*/
    color: darkred;
}
td.necesario, div.necesario, label.necesario{
    /*background: #fff0e0;*/
    color: red;
}

.activo, .activo:hover{
    background-image: url('../Imagenes/Iconos/led-03.png');
    background-repeat: no-repeat;
}
.inactivo, .inactivo:hover{
    color:#777;
    background-image: url('../Imagenes/Iconos/led-05.png'); 
    background-repeat: no-repeat;
}
