<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
    <head>
        <meta charset="UTF-8">
        <title>Angular Base64 Upload Demo</title>

        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <script src="bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>

        <script src="bower_components/angular/angular.min.js" type="text/javascript"></script>
        <script src="bower_components/angular-base64-upload/dist/angular-base64-upload.min.js" type="text/javascript"></script>
        <script src="scripts/funciones.js" type="text/javascript"></script>
        <script type="text/javascript">

                app = angular.module('myApp', ['naif.base64'])
                    .controller('ctrl', function($scope) {
                        $scope.file = {};
                    });
                app.run(function($rootScope) {

                    $rootScope.lastFocused;
                    angular.element("input[type='text']").focus(function() {
                        $rootScope.lastFocused = document.activeElement;
                    });

                    $rootScope.imagenBase64 = function($fs)
                    {
                        return img64md($fs);
                    };

                    $rootScope.insertarImagenBase64 = function(img)
                    {
//                    angular.element("input[type='text']").focus(function() {
                        angular.element("textarea").focus(function() {
                            $rootScope.lastFocused = document.activeElement;
                        });

                        var img64 = img64md(img);
                        insertText(img64, $rootScope.lastFocused);

                        return img64;
                    };
                })

        </script>

    </head>
    <body ng-controller="ctrl">
        <div class="container">
            <form name="form">
                <h3>Single File Selection</h3>
                <div class="input-group">
                    <span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Add Pic.sssssssss</span>
                        <input type="file" ng-model="fileImagen" name="fileImagen"   base-sixty-four-input ng-change="insertarImagenBase64(fileImagen)" ng-click="" >
                    </span>
                </div>
                <textarea style="height: 200px; width: 400px; overflow: scroll" >![{{file.filename}}]( data:image/jpg;base64,{{ file.base64}})</textarea>
                <div class="form-group"><input ng-model="text1" class="form-control" type="text" id="input1" /></div>
                <br>
                {{clave}}
            </form>
        </div>
        <input type="file"  >

    </body>

</html>