<div>
    <div style="margin: 10px 0" class="row">
        <div class="col-md-1 col-xs-1" style="padding:0">
            <span class="glyphicon glyphicon-menu-hamburger  btn-default btn-lg" style="padding:0 10px; font-size:35px"></span>
        </div>
        <div class="col-md-6 col-xs-7">
            <input ng-model="documento.nombre" placeholder="Documento sin nombre" style="width: 100%; font-size: 18pt; font-style: italic; ">
        </div>
        <div class="list-group-item col-md-5 col-xs-4">
            Plantilla base:  
            <select ng-show="documento._id == null" ng-model="documento.plantillaObjeto" ng-change="cargarPlantilla()" ng-options="{_id : item._id, nombre : item.nombre} as item.nombre for item in plantillasVigentes">
                <option value="">Seleccione una plantilla</option>
            </select>
            <span ng-show="documento._id" style="font-size: 14pt"> {{documento.plantilla}}</span>
        </div>
    </div>

    <div>
        <div id="contenidoDocumento" class="container">
            <h3 class="bg-success" style="padding: 5px 10px">Documento:</h3>

            <div class="row">
                <div id="txtHtmlPlantilla" class="txtHtmlPlantilla" marked="documento.plantillaContenido" style="width:21.6cm;  height:8cm; overflow:auto; border:1px solid gray; ">
                </div>

                <button class="btn-default btn" ng-click="documento.contenido = ''" > Limpiar</button>
                <button class="glyphicon glyphicon-eye-open  btn-info btn" ng-click="visualizarHTML()"> Visualizar</button>
                <div id="txtHtmlDocumento" class="txtHtmlDocumento" marked="divPrevisualizacion" style="width:21.6cm;  height:8cm; overflow:auto; border:1px solid gray; ">
                </div>
            </div>

            <h4><small>Descripción del documento:</small></h4>
            <p><textarea ng-model="documento.descripcion" placeholder="descripción" style="width:80%; height:50px;"></textarea></p>

        </div>
    </div>
    <button ng-click="guardar()" class="btn btn-success glyphicon glyphicon-ok"> Guardar</button> 
    <a href="#/documentos" class="btn btn-primary glyphicon glyphicon-home"> volver al inicio</a>
    <br>
    <input type="text" ng-model="oki"> <button ng-click="btnclick()">jddd</button>
    <button ng-click="btn2()">rrrrrrrrrrr888</button>
    <div ng-model="okihtml" marked="oki" style="border: solid 1px grey"> 




    </div>
    <div ng-bind-html="to_trusted()" ></div>
    <!--<textarea id="txtMdContenido"  ng-model="plantilla.contenido" markitup="markupSettings" class="markitup" style="  height:8cm;"></textarea>-->


</div>


