<div>
    <div style="margin: 10px 0" class="row">
        <div class="col-md-1 col-xs-1" style="padding:0">
            <span class="glyphicon glyphicon-menu-hamburger  btn-default btn-lg" style="padding:0 10px; font-size:35px"></span>
        </div>
        <div class="col-md-6 col-xs-7">
            <input ng-model="documento.nombre" placeholder="Documento sin nombre" style="width: 100%; font-size: 18pt; font-style: italic; ">

        </div>
        <div class="list-group-item col-md-5 col-xs-4">
            Plantilla base:  
            <select ng-model="documento.plantilla" ng-change="cargarPlantilla(documento.plantilla)" ng-options="item._id as item.nombre for item in plantillasVigentes">
                <option value="">Seleccione una plantilla</option>
            </select>
        </div>
    </div>

    <div>
        <div id="contenidoDocumento" class="container">
            <h3 class="bg-success" style="padding: 5px 10px">Documento:</h3>

            <div class="row">
                <div id="txtHtmlPlantilla" class="txtHtmlPlantilla" marked="documento.contenido" style="width:21.6cm;  height:8cm; overflow:auto; border:1px solid gray; ">
                </div>
                <button ng-click="documento.contenido = ''" >Limpiar</button>

                <h4><small>Previsualización</small></h4>
                <div id="txtHtmlDocumento" class="txtHtmlDocumento" marked="documento.contenido" style="width:21.6cm;  height:8cm; overflow:auto; border:1px solid gray; ">
                </div>

                <h4><small>Descripción del documento:</small></h4>
                <p><textarea ng-model="documento.descripcion" placeholder="descripción" style="width:80%; height:50px;"></textarea></p>


            </div>
        </div>
    </div>
    <button ng-click="guardar()" class="btn btn-success glyphicon glyphicon-ok">Guardar</button> 
    <a href="#/documentos" class="btn btn-primary glyphicon glyphicon-home"> volver al inicio</a>
</div>

