<div>
    <div style="margin: 10px 0" class="row">
        <div class="col-md-1" style="padding:0">
            <span class="glyphicon glyphicon-menu-hamburger  btn-default btn-lg" style="padding:0 10px; font-size:35px"></span>
        </div>
        <div class="col-md-8">
            <input ng-model="plantilla.nombre" placeholder="Plantilla sin nombre" style="width: 100%; font-size: 18pt; font-style: italic; ">

        </div>
        <div  class="list-group-item col-md-3">
            Plantilla vigente
            <div class="material-switch pull-right">
                <input id="someSwitchOptionSuccess" name="someSwitchOption001" type="checkbox" ng-model="plantilla.vigente" ng-true-value="1" ng-false-value="0"/>
                <label for="someSwitchOptionSuccess" class="label-success"></label>
            </div>
        </div>
    </div>

    <div>
        <div id="contenidoPlantilla" class="container">
            <h3 class="bg-success" style="padding: 5px 10px">Contenido:</h3>
            <div class="row" style="width: 22cm">
                <h4 class="col-xs-10" style="padding: 0 20px; margin: 0px "><small>Editor markDown</small></h4>
                <div class="col-xs-2" align="right"><input type="file"  ng-model="file"  base-sixty-four-input   ng-change="insertarImagen(file)" ></div>
            </div>
            <div class="row">
                <div class="col-md-1 col-xs-2 bg-info" style="border: 1px gray solid; ">
                    <div style="border: 1px gray solid; background-color: white; margin:  10px 0px" >
                        <span class="glyphicon glyphicon-font  btn-default btn-lg" ng-click='insertarCodigo("2")' style="padding:0px 10px; font-size:35px"></span>
                    </div>
                
                    <div style="border: 1px gray solid; background-color: white; margin:  10px 0px" >
                        <span class="glyphicon glyphicon-edit  btn-default btn-lg" ng-click='insertarCodigo("1")' style="padding:0 10px; font-size:35px"></span>
                    </div>
                    
                    <div style="border: 1px gray solid; background-color: white; margin:  10px 0px" >
                        <span class="glyphicon glyphicon-link  btn-default btn-lg" style="padding:0 10px; font-size:35px"></span>
                    </div>
                
                
                
                </div>
                <div class="col-md-11 col-xs-10">
                    <textarea id="txtMdContenido"  ng-model="plantilla.contenido" markitup="markupSettings" class="markitup" style="  height:8cm;"></textarea>
                    <button ng-click="plantilla.contenido = ''" >Limpiar</button>

                    <h4><small>Previsualización</small></h4>
                    <div id="txtHtmlResultado" marked="plantilla.contenido" style="width:21.6cm;  height:8cm; overflow:auto; border:1px solid gray; ">
                    </div>

                    <h4><small>Descripción:</small></h4>
                    <p><textarea ng-model="plantilla.descripcion" placeholder="descripción" style="width:60%; height:50px;"></textarea></p>


                </div>
            </div>
        </div>
        <button ng-click="guardar()" class="btn btn-success glyphicon glyphicon-ok">Guardar</button> 
        <a href="#/plantillas" class="btn btn-primary glyphicon glyphicon-home"> volver al inicio</a>
    </div>

</div>