
<div class="container">
    <div >
        <br>
        <a href="#/maestras/nueva" class="btn btn-success glyphicon glyphicon-plus"> <span>Crear plantilla maestra</span></a>
        <div class="table-responsive">
            <table id="breakingBadChar" class="table table-hover" > 
                <thead>
                    <tr>    
                        <th></th>
                        <th>Plantilla Maestra</th>
                        <th>Descripción</th>
                        <th>En uso</th>
                        <th>Creado por</th>
                        <th>Ultima modificación</th>                        
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="item in lista"> 
                        <td><a href="#/maestras/editar/{{item._id}}" class="glyphicon glyphicon-pencil" ></a></td>
                        <td><a href="#/maestras/editar/{{item._id}}"  ><b>{{item.nombre}}</b></a></td>
                        <td>{{item.descripcion}}</td>
                        <td> 
                            <a href="#/maestras/editar/{{item._id}}"  >
                                <div class="material-switch pull-right">
                                    <input id="someSwitchOptionSuccess" name="someSwitchOption001" type="checkbox" ng-model="item.activa" ng-true-value="1" ng-false-value="0" disabled=""/>
                                    <label for="someSwitchOptionSuccess" class="label-success"></label>
                                </div>
                            </a>
                        </td>
                        <td>{{item.usuario_creacion}}<br>{{item.fecha_creacion}}</td>
                        <td>{{item.fecha_modificacion}}</td>                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>