<div>
    <div id="contenedor" >
        <strong>est  contenidos</strong><br>
        Nombre <input type="text" id="txt1" value=""><br>
        Direccion<textarea id="txt2"></textarea><br>
        si/no<input type="text" id="txt5" value=""><br>
        edad<input type="text" id="txt6" value=""><br>

        descripcion<textarea id="txt9"></textarea><br>
    </div>    
    <button id="btnObtenerContenidos" ng-click="obtenerValores()">valores</button>
    <div >{{resultado}}</div>
    <button ng-click="pruebaTexto()"> texto</button>
    


</div>

<textarea hidden="" id="101"></textarea> <input hidden="" id="102" type="text" value="">

