<div>
    <div id="contenedor" >
        <strong>est  contenidos</strong><br>
        Nombre <input type="text" id="txt1" value=""><br>
        Direccion<textarea id="txt2"></textarea><br>
        si/no<input type="text" id="txt5" value=""><br>
        edad<input type="text" id="txt6" value=""><br>

        descripcion<textarea id="txt9"></textarea><br>
    </div>    
    <button id="btnObtenerContenidos">valores</button>
    <script>
            $(function() {
                $("#btnObtenerContenidos").click(function() {
                    var textarea = $("#contenedor").find('textarea');
                    var input = $("#contenedor").find('input');
                    var contenidos = [];
                    for (var i = 0; i < textarea.length; i++)
                    {
                        contenidos.push($(input[i]).attr('id'), $(input[i]).val());
                    }

                    console.log(contenidos);



                });



            });

    </script>
</div>